body {
  padding: 0px !important;
  margin: 0px !important;
}

section {
  padding-bottom:0px !important;
}

header {
  padding-top:50px;
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
  width:700px;
}