<div ng-include src="'app/partials/header.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <img src="assets/imgs/cows_3.jpg" class="img-responsive" alt="">
    </div>
    <div class="col-xs-12 col-sm-8">
      <p>Hi, I'm Alex Vann. I am a developer and economist by trade and study, but to be honest, I've done plenty of things outside of my field. Everything from dishwasher to bread merchant to sailor to general manager of a restaurant to traveller. Each one of these experiences has helped me develop into the person I am today. I have always prided myself on learning new things quickly and having an insatiable appetite for learning and questioning (much to the chagrin of my parents growing up, constantly asking "Why?").</p>
      <br/>
      <p>I received my B.S. in Computer Science and B.A. in Economics from Virginia Tech, in Blacksburg, Virginia in May 2012. Since then, After which I took part in what's called a "gap year", essentially taking a mini-sabatical to travel and work in fields that I will probably not be able to in the future. I was lucky enough to travel throughout the United States (Seattle, New York, Chicago, Tennessee, Raleigh) and through Europe (Germany, the Czech Republic, Italy, France, Austria).</p>
      <br/>
      <p>Professionally, I'm a Richmond, Virginia based software developer with a focus on building simple and responsive user interfaces to fit whatever work demands (and sometimes for fun). In my spare time, I try to solve <a href="http://projecteuler.net/">Euler Problems</a>, stay physically fit, and memorize movie quotes.</p>
      <p>• I'm also incredibly fond of puns, but that's beside the point.</p>
      <br/>
      <p>You can contact me at <a href="mailto:ajevann@gmail.com" target="_top">ajevann@gmail.com</a>.</p>

  </div>
</div>

<div ng-include src="'app/partials/footer.html'"></div>
