<div ng-include src="'app/partials/header.html'"></div>
<div class="container">

  <style type="text/css">
    
    .flex-container {
      display: flex;
      flex-wrap: wrap;
    }

    .flex-item {
      width: 360px;
      margin: 10px;
    }

  </style>

  <div class="row flex-container">

    <div class="project-container flex-item" ng-repeat="project in projects" ng-style="{'order': {{project.order}}}" >
      
      <h4>
        <a href="{{project.link}}"><h4 ng-bind-html="project.title"></h4></a>
      </h4>
      <p ng-bind-html="project.desc"></p>
      <br/>

    </div>
    
  </div>
</div>
<div ng-include src="'app/partials/footer.html'"></div>
